body {
  background-color: #1a1a1a;
  color: #eee;
  font-family: 'Roboto', sans-serif;
}

.f1-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222;
  color: white;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}

.f1-table th {
  background-color: #e10600; /* F1 red */
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 12px;
}

.f1-table td {
  padding: 10px;
  border-bottom: 1px solid #444;
}

.flag, .avatar {
  border-radius: 50%;
  border: 2px solid #e10600;
}
.f1-table tbody tr:hover {
  background-color: #e10600;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
